* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;
    padding-top: 60px;
}

#signup-container, #login-container {
    position: relative;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
  }