.profile-container {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.profile-container.animate-in {
    opacity: 1;
    transform: translateX(0);
}

.group-container {
    max-height: 50vh; /* or use height: 400px; for fixed height */
    overflow-y: auto;  /* ensures vertical scrollbar */
    overflow-x: hidden;
}
