<!doctype html> 
<html>
 <head> 
      {% if title %} 
<title>{{ title }} - Application</title> 
      {% else %} 
<title>Welcome to Application</title> 
      {% endif %} 
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head> 
<body> 
      <div class="navbar">
            Application: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
      </div> 
      <hr> 
      {% with messages = get_flashed_messages() %} 
      {% if messages %} 
      <ul> 
            {% for message in messages %} 
            <li>{{ message }}</li> 
            {% endfor %} 
      </ul> 
      {% endif %} 
      {% endwith %} 
      {% block content %}{% endblock %} 
      </body> 
</html> 