<!doctype html> 
<html lang="en">
<head> 
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if title %} 
      <title>{{ title }} - Application</title> 
      {% else %} 
      <title>Welcome to Application</title> 
      {% endif %} 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
      {% block head %}{% endblock %}
</head> 
<body> 
      <header class="top-nav glassy">
            <nav class="top-nav-left">
                  <a href="{{ url_for('index') }}">Home</a>
                  <a href="{{ url_for('login') }}">Login</a>
                  <a href="{{ url_for('planner') }}">Planner</a>
                  <a href="{{ url_for('explore') }}">Explore</a>
            </nav>
            <div class="top-nav-right">
                  <button class="icon-button">🔍</button>
                  <a href="{{ url_for('login') }}" class="icon-button">🔑</a>
                  <a href="{{ url_for('profile') }}" class="icon-button">👤</a>
            </div>
      </header> 
      {% with messages = get_flashed_messages() %} 
      {% if messages %} 
      <ul> 
            {% for message in messages %} 
            <li>{{ message }}</li> 
            {% endfor %} 
      </ul> 
      {% endif %} 
      {% endwith %} 
      {% block content %}{% endblock %} 
      </body> 
</html> 