{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


{% block content %}
{# Use planner-interface for consistency, allows potential centering/padding #}
<div class="dashboard-container"> {# Add specific container class #}

    {# Single pane for dashboard content #}
    <div class="glassy dashboard-pane"> {# Add specific pane class, remove inline styles #}
        {# Use current_user if using Flask-Login, check authentication #}
        <h1>Welcome, {{ current_user.username if current_user.is_authenticated else 'Guest' }}</h1>
        <div class="bg-white py-5" id="white_container">
            <section class="hero-section container py-5 d-flex align-items-center">
                <div class="row align-items-center justify-content-between w-100">
                    <div class="col-lg-6 hero-text slide-in-bottom">
                        <h1 class="display-4 fw-bold mb-3" id="hero-heading">Smart Tools to Plan Better</h1>
                        <p class="lead mb-4">Plan, vote, and coordinate in one go.</p>
                        <a href="#description-section" class="btn btn-primary btn-lg me-3">Get Started</a>
                    </div>

                    <div class="col-lg-6 text-center">
                        <img src="{{ url_for('static', filename='images/index-page/teamwork.jpg') }}"
                            alt="Team Collaboration" class="img-fluid hero-illustration scale-down">
                    </div>

                </div>
            </section>
        </div>

        <hr class="content-divider"> {# Use class for styling #}

        <h2>Your Groups</h2>
        <div class="flex-container">
            <div class="glassy dashboard-pane description" id="description-section"> {# Add specific class for intro #}
                <h3>Plannit: Events Made Effortless</h3>
                <p>Want to collaborate with others effortless? Plannit is your ultimate hub for effortless
                    group event planning and collaboration. Whether you're organizing casual meetups, weekend getaways,
                    or professional gatherings, Plannit simplifies the entire process from initial idea to memorable
                    experience.</p><br>

                <h3>Connect, Collaborate, Celebrate</h3>
                <ul>
                    <li>Effortless Voting: Quickly gauge group preferences and reach consensus on events.</li>
                    <li>Unified Planning: Seamlessly handle invites, shared payments, and discussions — all in one
                        intuitive platform.</li>
                    <li>Capture Memories: Easily share photos and experiences within event nodes, turning moments into
                        lasting memories.</li>
                    <li>Insightful Analytics: Get smart breakdowns and visual insights into your group's activities,
                        favorite locations, and more.</li>
                </ul>
                <br>
                <h3>Why Choose Plannit?</h3>
                <ul>
                    <li>Simplified Group Dynamics: Reduce planning stress and keep everyone aligned.</li>
                    <li>Flexible and Extensible: Grow your events with built-in tools for recurring meetups and
                        intelligent
                        recommendations.</li>
                    <li>Memorable Experiences: Spend more time enjoying moments, knowing everything behind-the-scenes is
                        taken care of.</li>
                </ul>
            </div>
            <div class="glassy dashboard-pane second-description"> {# Add specific class for intro #}
                <h3>Screenshot</h3>
                <img src="{{ url_for('static', filename='images/index-page/person.jpg') }}" alt="Screenshot of Plannit"
                    class="screenshot-image">
            </div>
        </div>
        <div class="feature-section py-5 fade-up-on-scroll">
            <div class="container">

                <div class="text-center mb-5">
                    <h2 class="fw-bold">FEATURES</h2>
                    <p class="text-light">Discover how Plannit makes planning events effortless</p>
                    <div class="btn-group bg-light rounded-pill mt-3 shadow-sm" role="group">
                        <button class="tab-btn btn-tab active" data-tab="tab-plan">Plan</button>
                        <button class="tab-btn btn-tab" data-tab="tab-vote">Split</button>
                        <button class="tab-btn btn-tab" data-tab="tab-track">Track</button>
                    </div>
                </div>


                <div class="tab-content fixed-height">


                    <div class="tab-pane active" id="tab-plan">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h3 class="tab-pane-heading mb-3">Effortless Event Planning</h3>
                                <p class="fst-italic text-light mb-3">
                                    From casual hangouts to professional meetups, Plannit allows planning events simple
                                    and stress free.
                                </p>
                                <ul class="list-unstyled text-white mb-3">
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Create events with titles,
                                        descriptions, and group invites</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Real time group chat and media
                                        sharing</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Smart calendar integration</li>
                                </ul>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="{{ url_for('static', filename='images/index-page/planning.webp') }}"
                                    alt="Planning Feature" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-vote">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h3 class="tab-pane-heading mb-3">Transparent Cost Splitting</h3>
                                <p class="fst-italic text-light mb-3">
                                    Make group payments with built in tools that calculates and divide costs
                                    automatically.
                                </p>
                                <ul class="list-unstyled text-white">
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Log shared expenses and assign
                                        contributions</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Automatically calculate who owes
                                        how much</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> View a clear breakdown of all
                                        group costs</li>
                                </ul>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="{{ url_for('static', filename='images/index-page/split.avif') }}"
                                    alt="Voting Feature" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-track">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h3 class="tab-pane-heading mb-3">Track Participation and Group Progress</h3>
                                <p class="fst-italic text-light mb-3">
                                    Stay informed and in control with transparent cost sharing and participation
                                    insights.
                                </p>
                                <ul class="list-unstyled text-white">
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Track attendance and engagement
                                        in real time</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Monitor RSVP responses in real
                                        time</li>
                                    <li><i class="bi bi-check2 text-primary me-2"></i> Track active members that's
                                        attending</li>
                                </ul>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="{{ url_for('static', filename='images/index-page/track.png') }}"
                                    alt="Tracking Feature" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="easier-section" id="white_container">
            <div class="container">
                <div class="row align-items-center">
                    <div class="text-center mb-5">
                        <h2 class="section-header">WHY PLANNIT</h2>
                        </div>
                    <div class="col-lg-6 fade-left">
                        <h2 class="tab-pane-heading mb-4">Plannit Makes Life Easier</h2>
                        <ul class="list-unstyled">
                            <li class="text-light mb-2"><i class="bi bi-tags"></i> Reduce planning stress and keep
                                everyone aligned</li>
                            <li class="text-light mb-2"><i class="bi bi-tags"></i> Plan your events with built-in tools
                            </li>
                            <li class="text-light mb-2"><i class="bi bi-tags"></i> Transparent split cost</li>
                        </ul>
                        <button type="button" onclick="location.href='{{ url_for('create_group') }}'"
                            class="btn btn-primary mt-3">
                            Create a new group
                        </button>
                    </div>
                    
                    <div class="col-lg-6 text-center scale-in">
                        <img src="{{ url_for('static', filename='images/index-page/easier.webp') }}"
                            class="img-fluid rounded" alt="Collaboration">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="text-center mb-5">
            <h2>Reviews</h2>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="row justify-content-center">

                        <div class="col-md-4">
                            <div class="card animated-card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"Finally an app that gets group planning right.
                                    No more 'who's bringing what' confusion or last-minute cancellations.
                                    Plannit kept us on track for our hiking tripe!</p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person1.jpg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Blake Harrison</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card animated-card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"Planning our university club trips used to be chaotic. With
                                    Plannit, everything is smooth
                                    from picking dates to sharing expenses. Love the clean, glassy design too!"
                                </p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person2.jpg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Soojin Kim</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card animated-card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"Plannit turned our basketball team outings into something
                                    effortless.
                                    No more 50 missed texts trying to set a time, one vote and done."</p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person3.jpg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Marcus Brown</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End row -->
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"Before we started using Plannit, organizing with my friends was a
                                    nightmare. With Plannit,
                                    I could actually enjoy the day without stressing."

                                </p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person4.jpg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Kylie Jenner</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"Planning out a cross-country roadtrip with my mates were a
                                    complete mess. But that's only before I used Plannit,
                                    this app helped us to organise the trip perfectly."</p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person5.jpeg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Mohammad Hassan</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <p class="card-text">"For our group project, we used Plannit to schedule meetings,
                                    assign parts of the assignment.
                                    I can't imagine the pain of doing a group project without it now. "</p>
                                <div class="card-body review-footer">
                                    <img src="{{ url_for('static', filename='images/index-page/person6.jpg') }}"
                                        class="card-img-top img-fluid" alt="Reviewer's image">
                                    <div class="reviewer-info">
                                        <h5 class="card-title">Ayana Scott</h5>
                                        <div class="star-rating">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <i class="bi bi-arrow-left-square-fill fs-1 carousel-arrow"></i>
                <span class="visually-hidden">Previous</span>
            </button>

            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <i class="bi bi-arrow-right-square-fill fs-1 carousel-arrow"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <footer class="main-footer">
            <div class="footer-content">
                <p>Copyright &copy; 2025 Plannit. All rights reserved.</p>
                <p class="footer-tagline">Plan better. Together.</p>
                <div class="footer-social mb-3">
                    <a href="{{ url_for('index') }}" class="social-icon"><i class="bi bi-twitter-x"></i></a>
                    <a href="{{ url_for('index') }}" class="social-icon"><i class="bi bi-facebook"></i></a>
                    <a href="{{ url_for('index') }}" class="social-icon"><i class="bi bi-instagram"></i></a>
                    <a href="{{ url_for('index') }}" class="social-icon"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>

{# End dashboard-pane #}
{# End dashboard-container #}


{% endblock %}