{% extends "base.html" %}

{% block content %}
    <h1>{{ ('Messages') }}</h1>
    {% if messages %}
        {% for message in messages %}
            {% include '_message.html' %}
        {% endfor %}
    {% else %}
        <p>{{ ('You currently have no messages.') }}</p>
    {% endif %}
    
    <nav aria-label="...">
        <ul class="pager">
            {% if prev_url %}
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ ('Newer messages') }}
                </a>
            </li>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url or '#' }}">
                    {{ ('Older messages') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
