{% extends "base.html" %} 

{% block content %} 
    <div id="signup-container">
        <form action="" method="post"> 
            {{ form.hidden_tag() }} 
            <h2>Sign up</h2><br>
            <p> 
                {{ form.username.label }}<br> 
                {{ form.username(size=64, placeholder="Username") }}<br> 
                {% for error in form.username.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
            </p> 
            <p> 
                {{ form.email.label }}<br> 
                {{ form.email(size=64, placeholder="Email") }}<br> 
                {% for error in form.email.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
            </p> 
            <p> 
                {{ form.password.label }}<br> 
                {{ form.password(size=64, placeholder="Password") }}<br> 
                {% for error in form.password.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
            </p> 
            <p> 
                {{ form.password2.label }}<br> 
                {{ form.password2(size=64, placeholder="Confirm Password") }}<br> 
                {% for error in form.password2.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
            </p> 
            <p><button type="submit">Sign Up</button></p>
        </form>
    </div>
{% endblock %} 